<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h2>Chi tiết món ăn vừa thêm</h2>
    <p style="color: green;">${message}</p> <table border="1">
    <tr>
        <th>Tên món:</th>
        <td>${food.name}</td>
    </tr>
    <tr>
        <th>Danh mục:</th>
        <td>${food.category}</td>
    </tr>
    <tr>
        <th>Giá tiền:</th>
        <td>${food.price} VNĐ</td>
    </tr>
    <tr>
        <th>Đường dẫn vật lý (Server):</th>
        <td><code>${food.imageUrl}</code></td>
    </tr>
</table>

    <br>
    <a href="/food/add">Tiếp tục thêm món mới</a>
</div>
</body>
</html>